<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Anuncio</title>
</head>
<body>
    <h1>Crear Nuevo Anuncio</h1>
    <form th:action="@{/new}" th:object="${anuncio}" method="post">
        <label for="nombre">nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required />
        <br/>

        <label for="asunto">asunto:</label>
        <input type="text" id="asunto" th:field="*{asunto}" required />
        <br/>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" th:field="*{descripcion}" required></textarea>
        <br/>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
