<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Anuncio</title>
</head>
<body>
    <h1>Crear Nuevo Anuncio</h1>
    <form th:action="@{/crear-nuevo-anuncio}" th:object="${anuncio}" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" th:field="*{titulo}" required />
        <br/>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" th:field="*{descripcion}" required></textarea>
        <br/>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
